.container {
  max-width: 600px;
  margin: 3rem auto;
  display: grid;
  grid-template-rows: auto auto;
}
header {
  margin: 0.3rem;
}
form {
  margin: auto;
  width: 100%;
  height: auto;
  display: grid;
  grid-template-rows: auto auto;
}
.formPart1 {
  display: grid;
  grid-template-columns: 80% 20%;
}
section h2 {
  background-color: rgba(108, 105, 105, 0.297);
  border-radius: 5px;
  margin-top: 0.4rem;
  font-size: 25px;
  display: grid;
  grid-template-columns: 80% 20%;
}
.formEdit {
  display: grid;
  grid-template-columns: 100% auto;
}
.part1 {
  display: grid;
  grid-template-columns: 12% 80%;
}
.checkbox {
  margin: 0 auto;
  width: 30px;
}
.part2 {
  display: grid;
  grid-template-columns: 50% 50%;
}
.edit {
  margin: 0 auto;
  display: grid;
  grid-template-columns: auto auto;
}
.clearAll {
  margin-top: 1rem;
  display: grid;
  grid-template-columns: 80% 20%;
}
.task-list {
  max-height: 400px;
  overflow-y: hidden;
}
.task-list:hover {
  overflow-y: auto;
}
.containerMain {
  display: grid;
  grid-template-rows: auto auto;
}
.nameAppMenu {
  margin: 1rem;
  font-size: 45px;
  text-align: center;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
.nameLink {
  margin: 1rem auto;
  display: grid;
  grid-template-columns: auto auto;
}
.nameLink a {
  font-size: 35px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.darkLight {
  display: flex;
  align-self: flex-end;
  margin: 0 0.5rem 1rem;
  width: 15px;
  height: 20px;
}
.home {
  height: 850px;
}
.home h2 {
  border-radius: 5px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  background-color: rgba(108, 105, 105, 0.297);
  padding: 0;
  margin: 2rem;
  font-size: 30px;
}
.home p {
  padding: 0;
  margin: 2rem;
  font-size: 20px;
}
.sobreNosotros {
  height: 850px;
}
.sobreNosotros h2 {
  border-radius: 5px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  background-color: rgba(108, 105, 105, 0.297);
  padding: 0;
  margin: 2rem;
  font-size: 30px;
}
.sobreNosotros p {
  padding: 0;
  margin: 2rem;
  font-size: 20px;
}
.sobreNosotros ol {
  padding: 0;
  margin: 2rem;
}
.sobreNosotros h3 {
  padding: 0;
  font-size: 20px;
}
.sobreNosotros li {
  margin-left: 3rem;
  font-size: 20px;
}
.tareas {
  height: 850px;
}
.nameTareas {
  border-radius: 5px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  background-color: rgba(108, 105, 105, 0.297);
  padding: 0;
  margin: 2rem;
  font-size: 30px;
}
